  @model List<BasketItemViewModel>
@{
    var basketItems = Model;
   

}



<!--================Cart Area =================-->


<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var basketItem in basketItems)
                        {
                            var totalPrice = basketItem.Price * basketItem.Count;
                            
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/@basketItem.ImageUrl" style="width:150px; height:150px;" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@basketItem.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@basketItem.Price</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="@basketItem.Count" title="Quantity:"
                                           class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@totalPrice</h5>
                                </td>
                            </tr>
                        }
                       
                     
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$2160</h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->